/* Background and basic style setup */

body {
  background-color: 	#004c4c;
  margin: 0;


  -ms-overflow-style: none;
  scrollbar-width: none;
}
body::-webkit-scrollbar{
  display: none;
}

  /* Link styling */
  a{color: #66b2b2; font-size: 18pt;}
  a:visited{text-decoration: none; color: #66b2b2;}
  a:focus{text-decoration: none; color: #66b2b2;}
  a:hover{text-decoration: none; color: #b2d8d8;}
  a:hover, a:active { text-decoration: none; color: #b2d8d8;}
/*  Grid container setup */

.grid-container .header { grid-area: header; }
.grid-container .sidebar { grid-area: sidebar; }
.grid-container .content { grid-area: main; }

.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'sidebar main main main main main'
    'sidebar main main main main main'
    'sidebar main main main main main';
  grid-gap: 0px;
  padding: 0px;
}

/* header styling */

.grid-container .header{
  width:auto;
  height:100px;
  background-color: 	#008080;
  display: flex;
  flex-direction: row;
}
/* sidebar styling */
.grid-container .sidebar{
  display: flex;
  flex-direction: column; 
  width: 200px;
  height: 55vh;
  background-color: #006666;
  border-bottom-right-radius: 24px;
}

  /* Sidebar dropdown styling */
  .dropdown{
    margin-top: 14px;
    transition: margin-left .6s;
    margin-left: -10px;
  }
  .dropdown:hover{
    margin-left: 2px;
  }

  .dropbtn {
    margin-right: 40px;
    margin-left: 12px;
    margin-top: 8px;
    cursor: pointer;
  }
  
  .dropdown-content {
    display: none;
    background-color: #008080;
    border-radius: 8px;
    transform:scaleY(0);
  }
  
  .dropdown-content a {
    font-size: 16pt;
    margin-top: 4px;
    word-wrap: break-word;
  }

  .dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;
    padding:0 20px;
    transform: scaleY(1);
  }

  /* Sidebar sub-dropdown styling */

  .subpage-trigger{
    cursor: pointer;
  }

  .subpage-dropdown a{
    font-size: 16pt;
    margin-top: 4px;
    margin-left: 0;
    word-wrap: break-word;
    display:flex;
  }

  .subpage-content{
    display: none;
    background-color: #008080;
  }

  .subpage-dropdown:hover .subpage-content{
    display: flex;
    flex-direction: column;
    padding:0 20px;
  }

/* content styling */
.grid-container .content .content-main{
  margin: auto;
  margin-top: 20px;
  border-radius: 8px; 
  background-color: #006666;
  font-size: 20pt;
  height: max-content;
  max-width: max-content;
  
  transform: translateX(-10%);
  position: absolute;
}


.grid-container .content .content-main h1{
  margin: 15px;
  color: #66b2b2;
  text-shadow: 1px 1px 2px 	#008080, 0 0 1em #66b2b2, 0 0 0.2em #66b2b2;
}

.content-main p{
  margin: auto;
  margin-bottom: 1vw;
  color: #66b2b2;
}

.content-main h3{
  margin-top: 0;
  text-decoration: underline;
}

#article-text{
  margin: 15px;
  padding: 30px;
  color: #66b2b2;
  font-size: 16pt;
}

#media{
  margin: 15px;
  max-width: 45%;
}

/* Interactables */
#scalable-text{
  transition: transform .4s;
}

#scalable-text:hover{
  transform: scale(1.15);
}

.grid-container .header .coopbtn{
  height: max-content;
  width: 120px;
  padding: 20px;
  background-color: 	#004c4c;
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
  margin-right:10px;
}

.grid-container .header .coopbtn a{
  text-align: center;
  font-size: 12pt;
  word-wrap:break-word;  
}